<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">
        Time to start a workout!
      </mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && (exercices$ | async)">
          <mat-select placeholder="Select an exercice" ngModel name="exercice" required>
            <mat-option *ngFor="let exercice of exercices$ | async" [value]="exercice.id">{{exercice.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner fxLayoutAlign="center" *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading | async)">
        <button *ngIf="exercices$ | async" mat-button type="submit" [disabled]="f.invalid">Start</button>
        <button *ngIf="!(exercices$ | async)" mat-button type="button" (click)="fetchExercices()">Fetch again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
